:roots {
  --mgreen: #8c8c73;
  --mgray: #212121;
}
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .nav_link {
    @apply relative text-xl w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-[#8C8C73] text-white after:text-[#8C8C73] after:w-full after:scale-x-0 
		after:hover:scale-x-100 after:transition after:duration-300 after:origin-right;
  }
}
